@{
    HttpCookie myCookie = Request.Cookies["UserCookie"];
    string UserAccess = myCookie.Values["UserAccess"].ToString();
}
<div class="row navbar-fixed-top">
    <table style="background-color:blue;width: 100%;">
        <tr>
            <td>
                <img src="~/assets/img/favico.jpg" style="height:27px;float:right" />
            </td>
            <td>
                <h4 style="color:white;margin-left: 1%;">CAX - Continental Courier Service Ltd.</h4>
            </td>
        </tr>
    </table>
    <div class="container-fluid" style="background-color: white;height: 41px;">
        <table id="productSizes" class="table" style="margin-left: 5%;">
            <tbody>
                <tr class="d-flex">
                    <td class="col-1">
                        <a href="#" style="color:black;text-decoration: none;font-size: large;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File</a>
                        <ul class="dropdown-menu" style="margin-left: 6%;">
                            <li><a href="@Url.Action("Document","Home")">Documents</a></li>
                            <li><a href="@Url.Action("Parcel","Home")">Parcel</a></li>
                            <li><a href="@Url.Action("Poly","Home")">Poly</a></li>
                            <li><a href="@Url.Action("BulkUpload","Home")">Bulk Upload</a></li>
                        </ul>
                    </td>
                    <td class="col-1">
                        <a href="#" style="color:black;text-decoration: none;font-size: large;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Find/Update</a>
                        <ul class="dropdown-menu" style="margin-left: 16%;">
                            <li><a href="@Url.Action("CNList","Home")">CN Update/Search</a></li>
                        </ul>
                    </td>
                    <td class="col-1">
                        <a href="#" style="color:black;text-decoration: none;font-size: large;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu" style="margin-left: 37%;">
                            <li><a href="@Url.Action("AddParty","Home")">Party Entry</a></li>
                            <li><a href="@Url.Action("Rate","Home")">Rate Entry</a></li>
                            <li><a href="@Url.Action("Zonal","Home")">Zonal Entry</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Reports","Home")">Report</a></li>
                            <li><a href="#">Print CN</a></li>
                            <li><a href="#">Delete Information from Database</a></li>
                            <li><a href="@Url.Action("AddUser","Home")">User Create</a></li>
                            <li><a href="@Url.Action("LogOut","Home")">Logout</a></li>
                        </ul>
                    </td>
                    <td class="col-1">
                        <a href="#" style="color:black;text-decoration: none;font-size: large;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
                        <ul class="dropdown-menu" style="margin-left: 51%;">
                            <li><a href="#">About</a></li>
                        </ul>
                    </td>
                    <td class="col-1">
                        <a href="#" style="color:black;text-decoration: none;font-size: large;" class="dropdown-toggle">@myCookie.Values["Name"].ToString()</a>
                    </td>
                    <td class="col-1">
                        <a href="@Url.Action("LogOut","Home")" style="color:black;text-decoration: none;font-size: large;" role="button">Logout</a>
                    </td>
                    <td class="col-6">-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid" style="background-color: antiquewhite;height: 55px;padding-top: 8px;">
        <table id="productSizes" class="" style="margin-left: 5%;">
            <tbody>
                <tr class="d-flex">
                    <td class="col-1">
                        <button type="button" onclick="location.href='@Url.Action("Document", "Home")'" style="font-size: 18px;font-family: sans-serif;" class="btn btn-danger btn-rounded">Documents</button>

                    </td>
                    <td class="col-1" style="padding-left: 3%;padding-right: 3%;">
                        <button type="button" onclick="location.href='@Url.Action("Parcel", "Home")'" style="font-size:18px;font-family: sans-serif;" class="btn btn-danger btn-rounded">Parcel</button>
                    </td>
                    <td class="col-1" style="padding-left: 6%;">
                        <button type="button" onclick="location.href='@Url.Action("Poly", "Home")'" style="font-size: 18px;font-family: sans-serif;" class="btn btn-danger btn-rounded">Poly</button>
                    </td>
                    <td class="col-1" style="padding-left: 8%;padding-right: 3%;">
                        <button type="button" onclick="location.href='@Url.Action("CNList", "Home")'" style="font-size: 18px;font-family: sans-serif;" class="btn btn-danger btn-rounded">Update/Search</button>
                    </td>
                    <td class="col-1" style="padding-left: 9%;">
                        <button type="button" onclick="location.href='@Url.Action("BulkUpload", "Home")'" style="font-size: 18px;font-family: sans-serif;" class="btn btn-danger btn-rounded">Bulk Upload</button>
                    </td>
                    <td class="col-1" style="padding-left: 10%;padding-right: 3%;">
                        <button type="button"  onclick="location.href='@Url.Action("Reports","Home")'" style="font-size: 18px;font-family: sans-serif;" class="btn btn-danger btn-rounded">Reports</button>
                    </td>
                    <td class="col-6">-</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>