@{ 
    HttpCookie myCookie = Request.Cookies["UserCookie"];
    string UserAccess = myCookie.Values["UserAccess"].ToString();
 }
<nav class="navbar-default navbar-static-side" role="navigation">
    <!-- sidebar-collapse -->
    <div class="sidebar-collapse">
        <!-- side-menu -->
        <ul class="nav" id="side-menu">
          
            <li>
                <!-- user image section-->
                <div class="user-section">
                    <div class="user-section-inner" style="margin-left: 30%;">
                        <img src="~/assets/img/user.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <div><strong>CAX-@myCookie.Values["Designation"].ToString()</strong></div>
                        <div class="user-text-online">
                            <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;@myCookie.Values["Name"].ToString()
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            @if (UserAccess.Contains("UserMenu"))
            {
                <li>
                    <a href="@Url.Action("AddUser","Home")"><i class="fa fa-bar-chart-o fa-fw"></i> User</a>
                </li>
            }
           
            <li>
                <a href="@Url.Action("AddSPO","Home")"><i class="fa fa-bar-chart-o fa-fw"></i> SPO Menu</a>
            </li>
    
            @if (UserAccess.Contains("AccountsMenu"))
            {
                <li>
                    <a href="@Url.Action("Accounts","Home")"><i class="fa fa-flask fa-fw"></i> Accounts<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level selected text-center">
                        <li>
                            <a href="#">A1</a>
                        </li>
                        <li>
                            <a href="#">A2</a>
                        </li>
                    </ul>
                </li>
            }
            @if (UserAccess.Contains("BookingMenu"))
            {
                <li>
                    <a href="#"><i class="fa fa-files-o fa-fw"></i> Booking<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level selected text-center">
                        <li>
                            <a href="@Url.Action("Document","Home")">Documents</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Parcel","Home")">Parcel</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Poly","Home")">Poly</a>
                        </li>
                        <li>
                            <a href="@Url.Action("OtherBooking","Home")">Others</a>
                        </li>
                    </ul>
                    <!-- second-level-items -->
                </li>
            }
           @if (UserAccess.Contains("DeliveryMenu"))
            {
            <li>
                <a href="@Url.Action("DeliveryStatus","Home")"><i class="fa fa-edit fa-fw"></i> Delivery Status</a>
            </li>
           }
            @if (UserAccess.Contains("Report"))
            {
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level selected text-center">
                        <li>
                            <a href="@Url.Action("BillInfoReport","Home")">Bill Info</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CNInfoReport","Home")">CN Info</a>
                        </li>
                        <li>
                            <a href="@Url.Action("SalesReport","Home")">Sales Report</a>
                        </li>
                        <li>
                            <a href="@Url.Action("PartyReport","Home")">Party Report</a>
                        </li>
                    </ul>
                </li>
            }
          @if (UserAccess.Contains("Zonal"))
            {
            <li>
                <a href="@Url.Action("Zonal","Home")"><i class="fa fa-table fa-fw"></i> Zonal</a>
            </li>
          }
           @if (UserAccess.Contains("Rate"))
            {
            <li>
                <a href="@Url.Action("Rate","Home")"><i class="fa fa-edit fa-fw"></i> Rate</a>
            </li>
           }
           @if (UserAccess.Contains("Rate"))
            {
            <li>
                <a href="@Url.Action("Rate","Home")"><i class="fa fa-edit fa-fw"></i> Rate</a>
            </li>
           }

                <li>
                    <a href="@Url.Action("Rate","Home")"><i class="fa fa-edit fa-fw"></i> Rate</a>
                </li>
          @if (UserAccess.Contains("PartyMenu"))
            {
            <li>
                <a href="@Url.Action("AddParty","Home")"><i class="fa fa-sitemap fa-fw"></i> Party</a>
                
            </li>
          }
            
            @if (UserAccess.Contains("CNPrintMenu"))
            {
                <li>
                    <a href="@Url.Action("CNPrint","Home")"><i class="fa fa-wrench fa-fw"></i> CN Print</a>
                </li>
            }
            
        </ul>
        <!-- end side-menu -->
    </div>
    <!-- end sidebar-collapse -->
</nav>
<!-- end navbar side -->
